<%- include('../partials/header') %>

<main id="show-post">
    <img src="<%= post.imgUrl %>" alt="<%= post.title %>">
    <article>
        <p>Title: <%= post.title %></p>
        <p>About: <%= post.about %></p>
        <p>History: <%= post.history %></p>
    </article>
    <a href="/posts/<%= post._id %>/edit">EDIT</a>
</main>

<%- include('../partials/footer') %>