<%- include('../partials/header') %>

<main>
    
        <section id="show-img">
            <img src="<%= post.imgUrl %>" alt="<%= post.title %>">
        </section>
        <section id="show-info">
            <div>Title: </div>
            <div><%= post.title %></div>
            <div>About: </div>
            <div></div>
            <div>History: </div>
            <div></div>
        </section>
     
</main>

<%- include('../partials/footer') %>